.wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.aside {
  position: sticky;
  top: 0;
  left: 0;
  flex-shrink: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--color-border);

  & figure {
    height: 82.4px;
    padding: 16px 24px;
    border-bottom: 1px solid var(--color-border);
  }
}

.menu_items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 24px;

  & button {
    width: 100%;
    justify-content: flex-start;
  }

  & a:has(button) {
    display: block;
    width: 100%;
  }
}

.header_main {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  height: 82.4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 16px 24px;
  border-bottom: 1px solid var(--color-border);
  background-color: white;
}

.search_form {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid black;

  input {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;

    &::placeholder {
      color: #626262;
    }
  }

  &:has(:focus) {
    outline: 1px solid var(--color-highlight);
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;

  button {
    padding: 12px;
  }
}

.main {
  padding: 24px;
  background-color: #fbfbfb;
}
